<template>
  <div>
    <h2>Loan Calculator Widget</h2>
    <div>
      <LoanInputsForm @submitted="getLoanInstallment" />
      <LoanInstallmentResult
        :calculatedInstallmentData="calculatedInstallmentData"
      />
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import LoanInputsForm from "@/components/LoanInputsForm";
import LoanInstallmentResult from "@/components/LoanInstallmentResult";
export default {
  name: "LoanCalculatorWidget",
  components: {
    LoanInputsForm,
    LoanInstallmentResult
  },
  methods: {
    getLoanInstallment(loanAmountDuration) {
      this.$store.dispatch("GET_LOANINSTALLMENT", { loanAmountDuration });
    }
  },
  computed: {
    ...mapState({
      calculatedInstallmentData: "calculatedInstallmentData"
    })
  }
};
</script>
