<template>
  <div class="loan-amount-wrapper">
    <p>
      Monthly Installment:
      <span
        v-if="calculatedInstallmentData.monthlyInstallment"
        class="loan-installment-amount"
      >
        {{ calculatedInstallmentData.monthlyInstallment }} EUR
      </span>
    </p>
  </div>
</template>
<script>
export default {
  name: "LoanInstallmentResult",
  props: {
    calculatedInstallmentData: {
      type: Object,
      required: true,
      default: () => ({})
    }
  }
};
</script>
