<template>
  <form @submit.prevent="$emit('submitted', loanData)">
    <h3>Loan Amount and Duration:</h3>
    <input
      type="text"
      v-model="loanData.amount"
      class="input-loan-amount"
      placeholder="Loan amount"
    />
    <select v-model="loanData.duration" class="select-loan-duration">
      <option
        v-for="years in loanYears"
        v-bind:value="years"
        v-bind:key="years"
      >
        {{ years }}
      </option>
    </select>
    <button class="submit" type="submit">submit</button>
  </form>
</template>
<script>
export default {
  name: "LoanInputsForm",
  data() {
    return {
      loanData: {
        amount: "10000.00",
        duration: "1"
      },
      loanYears: [1, 2, 3, 4, 5]
    };
  }
};
</script>
